<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- css -->
    <link rel="stylesheet" href="style/main.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <header class="container-fluid bg-primary">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary navcheight">
        <a class="navbar-brand" href="#">
          <img src="img/logo.png" width="auto" height="auto" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav mr-auto justify-content-end ">
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Sign in</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 mx-2">
          <button class="btn btn-secondary text-dark" type="button">Upload Resume</button>
        </form>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-secondary text-dark" type="button">Post a Job Free</button>
        </form>
      </nav>
    </header>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-3 bg-light">
          <h4 class="col-md-12 justify-content-center mt-2">Filter</h4>
          <form class="col-md-12">
            <select class="col-md-12 custom-select mb-2">
              <option>Category</option>
              <option>Category</option>
            </select>
            <select class="custom-select">
              <option>Location</option>
              <option>Category</option>
            </select>
          </form>
        </div>
        <div class="col-md-8 ml-2 bg-light">
          <div class="row my-3">
            <a href="#">
              <div class="col-md-2">
                <img src="img/flame.jpg" style="width:80px; height:80px;">
              </div>
            </a>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="float-left">Lorem Ipsum </h4>
                    <a href="#"><span class="float-right">Favorite</span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mx-0">
                    <span class="float-left " style="font-size:14px;">Wow and Flutterville Playgardens – Portland, OR</span>
                    <a href="#"><span class="float-right text-secondary" style="font-size:14px;">Apply Now</span></a>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-md-12">
                    <span class="float-right" style="font-size:14px;">Deadline</span>
                  </div>
                </div>
              </div>
          </div>
          <div class="row my-3">
            <a href="#">
              <div class="col-md-2">
                <img src="img/flame.jpg" style="width:80px; height:80px;">
              </div>
            </a>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="float-left">Lorem Ipsum </h4>
                    <a href="#"><span class="float-right">Favorite</span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mx-0">
                    <span class="float-left " style="font-size:14px;">Wow and Flutterville Playgardens – Portland, OR</span>
                    <a href="#"><span class="float-right text-secondary" style="font-size:14px;">Apply Now</span></a>
                  </div>
                </div>
              </div>
          </div>
          <div class="row my-3">
            <a href="#">
              <div class="col-md-2">
                <img src="img/flame.jpg" style="width:80px; height:80px;">
              </div>
            </a>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="float-left">Lorem Ipsum </h4>
                    <a href="#"><span class="float-right">Favorite</span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mx-0">
                    <span class="float-left " style="font-size:14px;">Wow and Flutterville Playgardens – Portland, OR</span>
                    <a href="#"><span class="float-right text-secondary" style="font-size:14px;">Apply Now</span></a>
                  </div>
                </div>
              </div>
          </div>
          <div class="row my-3">
            <a href="#">
              <div class="col-md-2">
                <img src="img/flame.jpg" style="width:80px; height:80px;">
              </div>
            </a>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="float-left">Lorem Ipsum </h4>
                    <a href="#"><span class="float-right">Favorite</span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mx-0">
                    <span class="float-left " style="font-size:14px;">Wow and Flutterville Playgardens – Portland, OR</span>
                    <a href="#"><span class="float-right text-secondary" style="font-size:14px;">Apply Now</span></a>
                  </div>
                </div>
              </div>
          </div>
          <div class="row my-3">
            <a href="#">
              <div class="col-md-2">
                <img src="img/flame.jpg" style="width:80px; height:80px;">
              </div>
            </a>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="float-left">Lorem Ipsum </h4>
                    <a href="#"><span class="float-right">Favorite</span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mx-0">
                    <span class="float-left " style="font-size:14px;">Wow and Flutterville Playgardens – Portland, OR</span>
                    <a href="#"><span class="float-right text-secondary" style="font-size:14px;">Apply Now</span></a>
                  </div>
                </div>
              </div>
          </div>
          <div class="row my-3">
            <a href="#">
              <div class="col-md-2">
                <img src="img/flame.jpg" style="width:80px; height:80px;">
              </div>
            </a>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12">
                    <h4 class="float-left">Lorem Ipsum </h4>
                    <a href="#"><span class="float-right">Favorite</span></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mx-0">
                    <span class="float-left " style="font-size:14px;">Wow and Flutterville Playgardens – Portland, OR</span>
                    <a href="#"><span class="float-right text-secondary" style="font-size:14px;">Apply Now</span></a>
                  </div>
                </div>
              </div>
          </div>
          <ul class="pagination justify-content-center my-3">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
      </div>
    </div>
  </div>
    <!-- Footer -->
    <!-- Footer -->
    <footer class="container-fluid bg-dark">
      <div class="container mt-5">
        <div class="float-left mt-4">
          <img src="img/logo.png" width="auto" height="auto" alt="">
        </div>
        <ul class="nav float-right mt-4">
          <li class="nav-item"><img src="img/facebook.png" width="30" height="30"></li>
          <li class="nav-item m-2"><img src="img/twitter.png" width="30" height="30"></li>
          <li class="nav-item m-2"><img src="img/instagram.png" width="30" height="30"></li>
          <li class="nav-item"><img src="img/youtube.png" width="30" height="30"></li>
      </div>
    </footer>
  </body>
</html>
