  <body class="bg-light">
    <header class="container-fluid bg-primary">
      <nav class="navbar navbar-expand-lg navbar-light bg-primary navcheight">
        <a class="navbar-brand" href="#">
          <img src="img/logo.png" width="auto" height="auto" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav mr-auto justify-content-end ">
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Sign in</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 mx-2">
          <button class="btn btn-secondary text-dark" type="button">Upload Resume</button>
        </form>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-secondary text-dark" type="button">Post a Job Free</button>
        </form>
      </nav>
    </header>
    <div class="w-75 mx-auto clearfix">
      <div class="row mt-5 bg-white py-3">
          <div class="col-md-1">
            <img src="img/flame.jpg" style="width:80px; height:80px;">
          </div>
          <div class="col-md-5">
            <h4 class="col-md-12">Designer Required</h4>
            <div class="col-md-12">
              <span class="mr-2">Theoreo</span>
              <span class="mr-2">New York City</span>
              <span>Full Time</span>
            </div>
          </div>
          <div class="col-md-4 mt-3">
            <button class="btn btn-primary col-md-5" name="button">Save a Job</button>
            <button class="btn btn-primary col-md-5" name="button">Apply Now</button>
          </div>
          <div class="row mt-5">
            <div class="col-md-6">
              <h1 class="col-md-12">job.job_description.html_safe %></h1>
              <p class="col-md-12">Combined with a handful of model sentence structures, to generate lorem Ipsum which It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including.

Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable</p>
<h1 class="col-md-12">Responsibilities</h1>
<p class="col-md-12">Combined with a handful of model sentence structures, to generate lorem Ipsum which It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including.

Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable</p>
<h1 class="col-md-12">Responsibilities</h1>
<p class="col-md-12">Combined with a handful of model sentence structures, to generate lorem Ipsum which It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including.

Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable</p>

            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12 bg-light">
                  <div class="row mt-2">
                    <h4 class="col-md-12"><b>Job Summary</b></h4>
                  </div>
                  <div class="row">
                    <hr class="w-100 mx-auto"></hr>
                  </div>
                  <div class="row">
                    <span class="col-md-12"><b>Published on:</b> Oct 6, 2018</span>
                  </div>
                  <div class="row">
                    <span class="col-md-12"><b>Vacancy:</b> 08</span>
                  </div>
                  <div class="row">
                    <span class="col-md-12"><b>Employment Status:</b> Full-time</span>
                  </div>
                  <div class="row">
                    <span class="col-md-12"><b>Experience:</b> 2 to 3 year(s)</span>
                  </div>
                  <div class="row">
                    <span class="col-md-12"><b>Job Location:</b> New ork City</span>
                  </div>
                  <div class="row">
                    <span class="col-md-12"><b>Salary:</b> $32k - $36k</span>
                  </div>
                  <div class="row">
                    <span class="col-md-12"><b>Gender:</b> Any</span>
                  </div>
                  <div class="row pb-5">
                    <span class="col-md-12"><b>Application Deadline:</b> Oct 15, 2018</span>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <ul>
                    <li class="list">Share:</li>
                    <li>Facebook</li>
                    <li>LinkendIn</li>
                    <li>GooglePlus</li>
                    <li>Pinterest</li>
                  </ul>
                </div>
              </div>
              <div class="row mt-5">
                <button class="btn btn-light" name="button">Print Job</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
