<!-- Footer -->
<footer class="container-fluid bg-dark">
  <div class="container">
    <div class="float-left mt-4">
      <img src="img/logo.png" width="auto" height="auto" alt="">
    </div>
    <ul class="nav float-right mt-4">
      <li class="nav-item"><img src="img/facebook.png" width="30" height="30"></li>
      <li class="nav-item m-2"><img src="img/twitter.png" width="30" height="30"></li>
      <li class="nav-item m-2"><img src="img/instagram.png" width="30" height="30"></li>
      <li class="nav-item"><img src="img/youtube.png" width="30" height="30"></li>
  </div>
</footer>

</body>
</html>
