<header class="container-fluid bg-primary">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary navcheight">
    <a class="navbar-brand" href="#">
      <img src="img/logo.png" width="auto" height="auto" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav mr-auto justify-content-end ">
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Sign in</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 mx-2">
      <button class="btn btn-secondary text-dark" type="button">Upload Resume</button>
    </form>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-secondary text-dark" type="button">Post a Job Free</button>
    </form>
  </nav>
</header>
