<aside class="main-sidebar">
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" style="margin-top:20px;">
      <!-- <li class="header"><b>Jobs</b></li> -->
      <!-- Optionally, you can add icons to the links -->
      <li class="active"><a href="#"><span>Dashboard</span></a><</li>
      <li class="treeview">
        <a href="#"><span>Jobs</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">Post New Job</a></li>
          <li><a href="#">All Jobs</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#"><span>Resume</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="#">Add Resume</a></li>
          <li><a href="#">Edit Resume</a></li>
        </ul>
      </li>
      <li><a href="#"><span>Applicants</span></a></li>
      <li><a href="#"><span>Profile</span></a></li>
    </ul><!-- /.sidebar-menu -->
  </section>
</aside>
